table,td, th { 
		border-collapse: separate;
	    border-spacing: 10px;
        background-color: lightblue;
      
  		}
		th { 
		font-family: Verdana; 
		font-weight: bold; 
		color:#660033; 
		 background-color: #ffffcc;
		 width: 20%; 
		}
			