* {
  box-sizing: border-box;
}

/* Style the top navigation bar */
.topnav {
  
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: center;
  display: grid;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
aside {
  grid-column: 1;
  grid-row: 2;
}
	

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .topnav a {
    float: auto;
    width: 50%;
  }
  footer{
  	backgroud-color: gray;
  }
}


